body {
	color: #000;
}

header {
	background: #0B6;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;

}

footer {
	padding: 20px;
	background: #000;
	color:#fff;
}

main{
	max-width: 60%;
}

aside{
	max-width: 40%;
}

.contenedor {
	max-width: 70%;
	background-color: #ffffff00;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow-wrap: break-word;
	position: relative;
}

.contenedor-redondeado-azul {
	background-color: rgba(164, 234, 252, 0.671);
	border-radius: 30px;
	
	padding: 20px;
	border-color: rgb(164, 234, 252);
	border-width: 5px;
	border-style: solid;
}

.contenedor-redondeado-azul > img {
	border-radius: 20px;
	margin-bottom: 8%;
}

.imagenPequeña {
	max-width: 100px;
	height: auto;
}

.columna-automatica {
	max-width: min-content;
}

@media (max-width: 1500px) {
	.imagenPequeña {
		width: 80px;
		height: auto;
	}

	div > div > div > div > h2 {
		font-size: 0.3 rem;
	}
  }

@media (max-width: 576px) {
	header > row{
		justify-content: center;
	}

	.contenedor {
	  max-width: 100%;
	  
	}

	.contenedor-redondeado-azul {
		border-width: 0px;
		border-radius: 0px;
	}

	.contenedor-redondeado-azul > img {
		border-radius: 0px;
	}

	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1.3rem;
	}

	h3 {
		font-size: 1.1rem;
	}

	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.9rem;
	}

	p {
		font-size: 0.9rem;
	}

	.columna-automatica {
		max-width: 50px;
		margin-right: 10px;
	}

	.imagenPequeña {
		width: 50px;
		height: auto;
	}

  }

 





.boton {
	width: 100%;
	padding: 10px;
	border-radius: 40px;
	height: min-content;
	margin-bottom: 10px;
}

.cuadroaside {
	margin-left: 20px;
	border-radius: 30px;
	background-color: rgba(117, 177, 255, 0.596);
	border-style: solid;
	border-width: 5px;
	border-color: rgb(117, 177, 255);
	padding: 20px;
}

.boton-margin-botton {
	width: 100%;
	padding: 10px;
	border-radius: 40px;
	height: min-content;
	margin-bottom: 30px;
}

.fondo {
	background-image: url(../img/fondo.jpg);
	background-size: cover;
	background-attachment: fixed;
}

h1,h2,h3,h4,h5,h6,p {
	font-family: "ADLaM Display", system-ui;
	font-weight: 400;
	font-style: normal;
  }

h1 {
	font-size: 4 rem;
}

.articulo {
	border-style: solid;
	border-width: 5px;
	padding-top: 30px;
	border-left: 0cm;
	border-right: 0cm;
	border-bottom: 0cm;

}

.texto-especial {
	font-size: 1.75rem;
}

.centrado {
	text-align: center;
	vertical-align:middle;
}

.fila {
	margin-bottom: 20px;
}

.alineado {
	align-items: center;
}

.foto{
	position: absolute;
	top: 30%;
	left: 30px;
	max-width: 10rem;
}

@media (max-width: 576px) {
	.foto {
		top: 25%;
		max-width: 8rem;
	}

  }

@media (max-width: 1450px) {
	.foto {
		top: 24%;
	}

  }


